

<div class="main-panel">
  <app-header></app-header>
  <div class="content">
  <div class="container-fluid">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-primary">
                  <h4 class="card-title ">Campaigns                 
                      <div class="pull-right btn btn-warning" data-toggle="modal" role="dialog" data-target="#exampleModal" data-backdrop="static" date-keyboard="false" data-focus="true" #tref><i class="fa fa-plus" aria-hidden="true"></i> ADD</div>
                  </h4>
                  <p class="card-category"> Campaigns for the year 2018.</p>
              </div>
              <div class="card-body">
                  <div class="table-responsive">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <a class="btn btn-secondary" type="button" aria-label=""><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                      </span>
                      <input type="search" class="form-control" name="name" id="name" placeholder="Search..." aria-label="" [(ngModel)]="term">
                    </div>

                    
                      <table class="table">
                          <thead class=" text-primary">
                              <th>
                                campaign ID
                              </th>
                              <th (click)="orderBy('name')">
                                 Name
                                  <i *ngIf="order == 'name'"class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                                  <!-- <i class="fa fa-caret-square-o-down" aria-hidden="true"></i> -->
                              </th>
                              <th (click)="orderBy('duration')">
                                Duration
                                 <i *ngIf="order == 'duration'"class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                                 <!-- <i class="fa fa-caret-square-o-down" aria-hidden="true"></i> -->
                             </th>
                              <th (click)="orderBy('startDate')">
                                  Start Date
                                  <i *ngIf="order == 'startDate'"class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                              </th>
                              <th (click)="orderBy('endDate')">
                                End Date
                                <i *ngIf="order == 'endDate'"class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                            </th>
                            <th (click)="orderBy('totalWorkers')">
                              Vaccination / <small>Quantity</small>
                             <i *ngIf="order == 'vaccination'"class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                         </th>
                            <th (click)="orderBy('totalWorkers')">
                               Workers
                              <i *ngIf="order == 'totalWorkers'"class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                          </th>
                            <th (click)="orderBy('tehseel')">
                                  Location
                                  <i *ngIf="order == 'tehseel'"class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                            </th>
                              <!-- <th>Children</th> -->
                              <th (click)="orderBy('status')">
                                  status
                                  <i *ngIf="order == 'status'"class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                              </th>
                              <th>
                                  Note
                              </th>
                               <th>
                                  Actions
                              </th>

                          </thead>
                          <tbody *ngIf="campaigns">
                              <tr *ngFor="let x of campaigns | filter:term | orderBy: order" >
                                  <td>
                                    {{x?.id}}
                                  </td>
                                  <td>
                                    {{x?.name}}
                                  </td>
                                  <td>
                                    {{x?.duration + ' Months'}}
                                  </td>
                                  <td>
                                      {{x?.startDate}}
                                  </td>
                                  <td>
                                    <div *ngIf="x.endDate == null || !x.endDate">
                                        <span class="badge badge-sm badge-success"> under progress</span>  
                                    </div>
                                    <div *ngIf="x.endDate !== null || x.endDate">
                                      {{ x?.endDate}}
                                    </div>
                                </td>
                                <td>
                                  <span class="badge badge-info"  data-toggle="modal"
                                  data-target="#vaccineModal" (click)="selectedCampaign = x;"> 
                                      <h6 >
                                          <i class="material-icons" >control_point_duplicate</i><br>{{x.vaccination?.name + '/'}} <small> {{ ( x.vaccination?.quantity ) }} </small>

                                      </h6>                                                                      
                                  </span>
                             </td>
                             <td>
                              <strong *ngFor="let w of x.workers"> 
                                {{w?.name}},     
                            </strong> 
                            <span class="badge badge-sm badge-success" (click)="selectedCampaign = x" data-toggle="modal"
                                     data-target="#updateWorkerModal" > <i class="fa fa-edit" aria-hidden="true"></i></span>  
                            </td>
                                  <td>
                                      {{x?.tehseel}}, {{x?.city}}, {{x?.country}} .
                                   </td>
                                 
                                  <!-- <td>
                                      <span class="badge badge-info"  data-toggle="modal"
                                      data-target="#workersModal" (click)="selectedCampaign = x;loadWorkers(x.id)"> 
                                          <h6 >
                                              <i class="material-icons" >child_care</i><br>{{x?.totalChildren}} 
                                          </h6>                                                                      
                                      </span>
                                 </td> -->
                                   <td>
                                       <span *ngIf="x.status == 'active'" class="badge badge-primary">{{x?.status}}</span> 
                                       <span *ngIf="x.status == 'away'" class="badge badge-warning">{{x?.status}}</span> 
                                       <span *ngIf="x.status == 'dismiss'" class="badge badge-danger"> {{x?.status}}</span>
                                      </td>
                                   <td>
                                      {{x?.note}}
                                   </td>
                                   <td>
                                      <span class="btn btn-sm btn-danger" (click)="selectedCampaign = x" data-toggle="modal" data-target="#deleteModal" > <i class="fa fa-remove" aria-hidden="true"></i></span> 
                                      <span class="btn btn-sm btn-success" (click)="selectedCampaign = x" data-toggle="modal" data-target="#editModal" > <i class="fa fa-edit" aria-hidden="true"></i></span> 
                                    </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>





<!--  ::::::::::::::::::::::::::::::::::::::::::::::::::: MODALs  ::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- Modal  Update Vaccines -->
  <div class="modal fade" id="vaccineModal" tabindex="-1" role="dialog" aria-labelledby="vaccineModal" aria-hidden="true">
    <div class="modal-dialog modal-sm|lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="vaccineModal">ADD Vaccine</h4>
        </div>
        <div class="modal-body" *ngIf="selectedCampaign">
                <div class="col-md-12 form-group" *ngIf="vaccination">
                        <label for="">Assigned Vaccine</label>
                        <select class="form-control" (change)="onChange($event.target.value)" [(ngModel)]="selectedCampaign.vaccination">
                          <option value=""> </option>
                        <option *ngFor="let x of vaccination" value='{ "id":"{{x.id}}", "name":"{{x.name}}", "quantity":"{{x.quantity}}" , "exp":"{{x.exp}}"  }' >{{x?.name}}</option>
                      </select>
                        </div>
                        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-warning" (click)="updateVaccine(selectedVaccination)">Update</button>
        </div>
      </div>
    </div>
  </div>


<!-- Modal DELETE -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
<div class="modal-dialog modal-sm|lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="deleteModal">Confirm Delete</h4>
    </div>
    <div class="modal-body" *ngIf="selectedCampaign">
     Are you sure you want to delete <span class="text-danger"> {{selectedCampaign?.name}}</span> Campaign?       
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      <button type="button" class="btn btn-danger" (click)="delete(selectedCampaign)">Delete</button>
    </div>
  </div>
</div>
</div>


  <!-- Modal Update Assigned Doctor -->
  <div class="modal fade" id="updateWorkerModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
          <div class="modal-dialog modal-sm|lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="updateWorkerModal">ADD Worker</h4>
              </div>
              <div class="modal-body" *ngIf="selectedCampaign">
                      <div class="col-md-12 form-group" *ngIf="workers">
                              <label for="">Assigned Worker</label>
                              <select class="form-control" (change)="onChangeWorker($event.target.value)">
                                  <option value=""></option>
                                <option *ngFor="let doc of workers"
                                 value='{ "id":"{{doc.id}}", "name":"{{doc.name}}", "photo":"{{doc.photo}}" }' >{{doc.name}}</option>
                              </select>
                              </div>
                              <div class="col-md-12">
                                <table 
                                class="table table-{1:striped|sm|bordered|hover|inverse} table-inverse table-responsive">
                                  <thead class="thead-inverse|thead-default">
                                    <tr>
                                      <th>#</th>
                                      <th>Worker</th>
                                      <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let x of selectedCampaign.workers;let i=index">
                                        <td >{{i}}</td>
                                        <td>{{x?.name}}</td>
                                        <td>
                                          <button class="btn" (click)="deleteSelectedWorker(i)">
                                                  DELETE <span class="badge badge-primary|secondary|success|danger|warning|info|light|dark"></span>
                                          </button>
                                        </td>
                                      </tr>
                                      
                                    </tbody>
                                </table>
                              </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-warning" (click)="updateWorker()">Update</button>
              </div>
            </div>
          </div>
        </div>


          <!-- Modal Update Selected Children -->
  <div class="modal fade" id="updateChildModal" tabindex="-1" role="dialog" aria-labelledby="updateChildModal" aria-hidden="true">
          <div class="modal-dialog modal-sm|lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="deleteModal">Update {{selectedChild?.name}}'s Data</h4>
              </div>
              <div class="modal-body" *ngIf="selectedChild">
                  <div class="form-group">
                    <label for=""></label>
                    <input type="text"
                      class="form-control" name="" id="" aria-describedby="helpId" placeholder="name" [(ngModel)]="selectedChild.name">
                    <small id="helpId" class="form-text text-muted">Help text</small>
                  </div>
                  <div class="form-group">
                          <label for=""></label>
                          <input type="number"
                            class="form-control" name="" id="" aria-describedby="helpId" placeholder="age" [(ngModel)]="selectedChild.age">
                          <small id="helpId" class="form-text text-muted">Help text</small>
                        </div>
                        <div class="form-group">
                              <label for=""></label>
                              <input type="date"
                                class="form-control" name="" id="" aria-describedby="helpId" placeholder="Last vaccination" [(ngModel)]="selectedChild.lastVacc">
                              <small id="helpId" class="form-text text-muted">Help text</small>
                            </div>
                            <div class="form-group">
                                  <label for=""></label>
                                  <input type="text"
                                    class="form-control" name="" id="" aria-describedby="helpId" placeholder="Allergies" [(ngModel)]="selectedChild.allergies">
                                  <small id="helpId" class="form-text text-muted">Help text</small>
                                </div>
                                <div class="form-group">
                                  <label for="">Status</label>
                                  <select class="form-control" name="status" [(ngModel)]="selectedChild.status">
                                    <option value="pending">Pending</option>
                                    <option value="uninterested">Uninterested</option>
                                    <option value="vaccinated">Vaccinated</option>
                                  </select>
                              </div>
                     
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-warning" (click)="updateChild(selectedChild)">Update</button>
              </div>
            </div>
          </div>
        </div>

<!-- Modal INSERT Campaign-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Campaign</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form #campaignForm="ngForm" (submit)="submit(campaignForm.value)">
              <div class="row">
        <div class="col-md-6 form-group">
          <label for=""></label>
          <input type="text"
            class="form-control" name="name" placeholder="Campaign Name" ngModel>
        </div>
        <div class="col-md-6 form-group">
          <label for=""></label>
          <input type="number"
            class="form-control" name="duration" placeholder="Campaign Duration in Months" ngModel>
        </div>
        <div class="col-md-6 form-group">
            <label for=""></label>
            <input type="date"
              class="form-control" name="startDate" aria-describedby="helpId" placeholder="Starting Date" ngModel>
          </div>
          <div class="col-md-6 form-group">
            <label for=""></label>
            <input type="date"
              class="form-control" name="endDate" aria-describedby="helpId" placeholder="Ending Date" ngModel>
          </div>
          <div class="col-md-12 form-group" *ngIf="vaccination">
            <label for="">Vaccination</label>
            <select class="form-control" (change)="onChange($event.target.value)">
                <option value=""> </option>
              <option *ngFor="let x of vaccination" value='{ "id":"{{x.id}}", "name":"{{x.name}}", "quantity":"{{x.quantity}}" , "exp":"{{x.exp}}"  }' >{{x?.name}}</option>
            </select>
            </div>
        <!-- <div class="col-md-12 form-group" *ngIf="workers">
          <label for="">Assigned Worker</label>
          <select class="form-control" (change)="onChange($event.target.value)">
              <option value=""> </option>
            <option *ngFor="let doc of workers" value='{ "id":"{{doc.id}}", "name":"{{doc.name}}" }' >{{doc.name}}</option>
          </select>
          </div> -->
          <h4>Area</h4>
          <div class="col-md-4 form-group">
              <label for="">Tehseel</label>
              <input type="text"
                class="form-control" name="tehseel" aria-describedby="helpId" ngModel>
            </div>
            <div class="col-md-4 form-group">
                <label for="">City</label>
                <input type="text"
                  class="form-control" name="city"  aria-describedby="helpId" ngModel>
              </div>
              <div class="col-md-4 form-group">
                  <label for="">Country</label>
                  <input type="text"
                    class="form-control" name="country" aria-describedby="helpId" ngModel>
                </div>
                <div class="col-md-6 form-group">
                  <div class="form-check">
                      <label class="form-check-label">
                              Approvde account!
                          <input class="form-check-input" type="checkbox" value="" name="approved" ngModel>
                          <span class="form-check-sign">
                              <span class="check"></span>
                          </span>
                      </label>
                  </div>
                </div>
                <div class="col-md-6 form-group">
                        <label for="">Status</label>
                        <select class="form-control" name="status" ngModel>
                          <option value="active">Active</option>
                          <option value="dismiss">Dismiss</option>
                          <option value="away">Away</option>
                        </select>
                    </div>
                <div class="col-md-12 form-group">
                    <label for="">Note</label>
                    <textarea class="form-control" name="note"  rows="3" placeholder="Special Note.." ngModel></textarea>
                  </div>
        
      
              </div>
      </form>
      
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="submit(campaignForm.value)" >Save changes</button>
      </div>
    </div>
  </div>
</div>




<!-- Modal Update Campaign-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModal">UPDATE Campaign</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container" *ngIf="selectedCampaign">
                <div class="row">
          <div class="col-md-6 form-group">
            <label for=""></label>
            <input type="text"
              class="form-control" name="name" placeholder="Campaign Name" [(ngModel)]="selectedCampaign.name">
          </div>
          <div class="col-md-6 form-group">
            <label for=""></label>
            <input type="number"
              class="form-control" name="duration" placeholder="Campaign Duration in Months" [(ngModel)]="selectedCampaign.duration">
          </div>
          <div class="col-md-6 form-group">
              <label for=""></label>
              <input type="date"
                class="form-control" name="startDate" aria-describedby="helpId" placeholder="Starting Date" [(ngModel)]="selectedCampaign.startDate">
            </div>
            <div class="col-md-6 form-group">
              <label for=""></label>
              <input type="date"
                class="form-control" name="endDate" aria-describedby="helpId" placeholder="Ending Date" [(ngModel)]="selectedCampaign.endDate">
            </div>
            <h4>Area</h4>
            <div class="col-md-4 form-group">
                <label for="">Tehseel</label>
                <input type="text"
                  class="form-control" name="tehseel" aria-describedby="helpId" [(ngModel)]="selectedCampaign.tehseel">
              </div>
              <div class="col-md-4 form-group">
                  <label for="">City</label>
                  <input type="text"
                    class="form-control" name="city"  aria-describedby="helpId" [(ngModel)]="selectedCampaign.city">
                </div>
                <div class="col-md-4 form-group">
                    <label for="">Country</label>
                    <input type="text"
                      class="form-control" name="country" aria-describedby="helpId" [(ngModel)]="selectedCampaign.country">
                  </div>
                  <div class="col-md-6 form-group">
                    <div class="form-check">
                        <label class="form-check-label">
                                Approvde account!
                            <input class="form-check-input" type="checkbox" value="" name="approved" [(ngModel)]="selectedCampaign.approved">
                            <span class="form-check-sign">
                                <span class="check"></span>
                            </span>
                        </label>
                    </div>
                  </div>
                  <div class="col-md-6 form-group">
                          <label for="">Status</label>
                          <select class="form-control" name="status" [(ngModel)]="selectedCampaign.status">
                            <option value="active">Active</option>
                            <option value="dismiss">Dismiss</option>
                            <option value="away">Away</option>
                          </select>
                      </div>
                  <div class="col-md-12 form-group">
                      <label for="">Note</label>
                      <textarea class="form-control" name="note"  rows="3" placeholder="Special Note.." [(ngModel)]="selectedCampaign.note"></textarea>
                    </div>
        
                </div>
      
        
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="updateCampaign()" >Save changes</button>
        </div>
      </div>
    </div>
  </div>



