
<div class="main-panel">
  <app-header></app-header>
  <div class="content" >
  <div class="container-fluid row">
      <div class="col-md-4">
          <div class="card">
              <div class="card-header card-header-primary">
                  <h4 class="card-title text-center ">Assignments               
                      <div class="pull-right btn btn-warning" data-toggle="modal" role="dialog" data-target="#addAssignmentModal" data-backdrop="static" date-keyboard="false" data-focus="true" #tref><i class="fa fa-plus" aria-hidden="true"></i> ADD</div>
                  </h4>
                  <p class="card-category"> Your class schedule or taken </p>
              </div>
              <div class="card-body">
                  <div class="table-responsive">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <a class="btn btn-secondary" type="button" aria-label=""><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                      </span>
                      <input type="search" class="form-control" name="name" id="name" placeholder="Search..." aria-label="" [(ngModel)]="term">
                    </div>

                    
                    <table class="table"> 
                        <thead class=" text-primary">
                            <th (click)="orderBy('courseName')">
                                Assignment #
                                <i *ngIf="order == 'courseName'"class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                            </th>
                            <th (click)="orderBy('courseId')">
                              Deadline
                              <i *ngIf="order == 'courseName'"class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                            </th>
                            <th>
                              Status
                            </th>
                             <th>
                                Actions
                            </th>

                        </thead>
                        <tbody *ngIf="assigments">
                            <tr *ngFor="let x of assigments">
                                <td class="small">
                                  {{x?.num}}
                                </td>
                                <td class="small">
                                  {{x?.deadline}}
                                </td>
                                <td class="small">
                                    
                                        <span class="badge badge-warning" *ngIf="x.status == 'active'">Active</span>
                                        <span class="badge badge-success" *ngIf="x.status == 'completed'">Completed</span>
                                        <span class="badge badge-danger" *ngIf="x.status == 'cancel'">Cancel</span>
                     
                                </td>
                                 <td>

                                    <span class="btn btn-sm btn-danger" (click)="selectedAssignment = x" data-toggle="modal" data-target="#deleteAssignmentModal" > <i class="fa fa-remove" aria-hidden="true"></i></span> 
                                    <span class="btn btn-sm btn-warning" (click)="selectedAssignment = x" data-toggle="modal" data-target="#editAssignmentModal" > <i class="fa fa-edit" aria-hidden="true"></i></span> 
                                    <span class="btn btn-sm btn-success" (click)="AssignmentDetails(x.id)"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span> 
                                  </td>
                            </tr>
                        </tbody>
                    </table>                   </div>
              </div>
          </div>
      </div>



      <!-- READ QUIZES -->
      <div class="col-md-4">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title text-center ">Quizes               
                    <div class="pull-right btn btn-warning" data-toggle="modal" role="dialog" data-target="#addQuizModal" data-backdrop="static" date-keyboard="false" data-focus="true" #tref><i class="fa fa-plus" aria-hidden="true"></i> ADD</div>
                </h4>
                <!-- <p class="card-category text-center"> Time for  </p> -->
            </div>
            <div class="card-body">
                <div class="table-responsive">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <a class="btn btn-secondary" type="button" aria-label=""><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                    </span>
                    <input type="search" class="form-control" name="name" id="name" placeholder="Search..." aria-label="" [(ngModel)]="term">
                  </div>

                  
                   <table class="table"> 
                        <thead class=" text-primary">
                            <th (click)="orderBy('courseName')">
                                Quiz #
                                <i *ngIf="order == 'courseName'"class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                            </th>
                            <th (click)="orderBy('courseName')">
                              Title
                              <i *ngIf="order == 'courseName'"class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                          </th>
                            <th (click)="orderBy('courseId')">
                              Deadline
                              <i *ngIf="order == 'courseName'"class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                            </th>
                            <th>
                              Status
                            </th>
                             <th>
                                Actions
                            </th>

                        </thead>
                        <tbody *ngIf="quizes">
                          <tr *ngFor="let x of quizes">
                                <td class="strong">
                                  {{x?.num}}
                                </td>
                                <td class="small ">
                                    <b>{{x?.title}}</b>
                                </td>
                                <td class="small">
                                    {{x?.deadline}}
                                </td>
                                <td class="small">
                                  <span class="badge badge-warning" *ngIf="x.status == 'active'">Active</span>
                                  <span class="badge badge-success" *ngIf="x.status == 'completed'">Completed</span>
                                  <span class="badge badge-danger" *ngIf="x.status == 'cancel'">Cancel</span>
                          </td>
                                 <td class="small">
                                    <span class="btn btn-sm btn-danger" (click)="selectedQuiz = x" data-toggle="modal" data-target="#deleteQuizModal" > <i class="fa fa-remove" aria-hidden="true"></i></span> 
                                    <span class="btn btn-sm btn-warning" (click)="selectedQuiz = x" data-toggle="modal" data-target="#editQuizModal" > <i class="fa fa-edit" aria-hidden="true"></i></span> 
                                    <span class="btn btn-sm btn-success" (click)="detailsQuiz(x.id)"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span> 
                                  </td>
                                  
                            </tr>
                        </tbody>
                    </table> 
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
      <div class="card">
          <!-- <div class="card-header card-header-primary">
              <h4 class="card-title text-center ">Assignments: {{ class?.courseName}}                
                  <div class="pull-right btn btn-warning" data-toggle="modal" role="dialog" data-target="#exampleModal" data-backdrop="static" date-keyboard="false" data-focus="true" #tref><i class="fa fa-plus" aria-hidden="true"></i> ADD</div>
              </h4>
              <p class="card-category"> Your class schedule or taken </p>
          </div> -->
          <div class="card-body">
              <div class="card card-profile"  >
                  <div class="card-avatar">
                      <a>
                          <img class="img" src="./assets/img/faces/avatar.jpg " />

                        
                      </a>
                  </div>
                  <div class="card-body">
                          <!-- <input type="text" class="form-control" [(ngModel)]="class.photo"> -->

                      <h6 class="card-category text-gray">{{class?.room}} </h6>
                      <h4 class="card-title">{{class?.courseName}} / {{class?.courseId}} </h4>
                      <p class="card-description">
                         {{admin?.aboutMe}}
                         <br>
                         <strong>32</strong>  Students
                         
                      </p>
                      <table class="text-center table bordered striped">
                          <thead style="background-color:rgba(0, 0, 0, 0.086)">
                             <th>Monday</th>
                             <th>Tuesday</th>
                             <th>Wednesday</th>
                             <th>Thursday</th>
                             <th>Friday</th>
                           </thead>
                           <tbody>
                             <tr>
                                <td class="small">2:30pm -- 5:30pm</td>
                                <td>2:30pm -- 5:30pm</td>
                                <td>2:30pm -- 5:30pm</td>
                                <td>2:30pm -- 5:30pm</td>
                                <td>2:30pm -- 5:30pm</td>
                              </tr>
                           </tbody>
                        </table>
                        <hr>
                        
                      <a  class="btn btn-warning btn-round" (click)="logOut()">Setting</a>
                  </div>
              </div>
              <div class="table-responsive">
                <div class="input-group">
                  <span class="input-group-btn">
                    <a class="btn btn-secondary" type="button" aria-label=""><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                  </span>
                  <input type="search" class="form-control" name="name" id="name" placeholder="Search student..." aria-label="" [(ngModel)]="term">
                </div>

                
                  <table class="table">
                      <thead class=" text-primary">
                          <th>
                            Roll No
                          </th>
                          <th (click)="orderBy('courseName')">
                             Name
                              <i *ngIf="order == 'courseName'"class="fa fa-caret-square-o-down" aria-hidden="true"></i>
                          </th>
                          
                           <th>
                              Actions
                          </th>

                      </thead>
                      <tbody *ngIf="students">
                          <tr *ngFor="let x of students | filter:term | orderBy: order" >
                              <td>{{x?.rollno}}</td>
                              <td>{{x.name}}</td>
                              <td>
                                  <!-- <span class="btn btn-sm btn-danger" (click)="selectedVaccine = x" data-toggle="modal" data-target="#deleteModal" > <i class="fa fa-remove" aria-hidden="true"></i></span>  -->
                                  <!-- <span class="btn btn-sm btn-warning" (click)="selectedVaccine = x" data-toggle="modal" data-target="#editModal" > <i class="fa fa-edit" aria-hidden="true"></i></span>  -->
                                  <span class="btn btn-sm btn-success" (click)="details(x.id)"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span> 
                                </td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
  </div>

</div>
</div>



 


  

  <!-- ::::::::::::::::::::::::::::::::::::::::::::::::: MODALS ::::::::::::::::::::::::::::::::::::: -->

  <!-- :::::::::::::: ASSIGNMENTs ::::::::::: -->

  <!--ADD ASSIGNMENT -->
  <div class="modal fade" id="addAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="addAssignmentModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addAssignmentModalLabel">Add Assigment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <form #addAssignmentForm="ngForm" (submit)="submitAssignment(addAssignmentForm.value)">
                <div class="row">
          <div class="col-md-12 form-group">
            <label for=""></label>
            <input type="text"
              class="form-control" name="title" placeholder="Assigment Title" ngModel>
          </div>
          <div class="col-md-6 form-group">
            <label for=""></label>
            <input type="number"
              class="form-control" name="num"  aria-describedby="helpId" placeholder="Assignment #03" ngModel>
          </div>
          <div class="col-md-6 form-group">
              <label for=""></label>
              <input type="date"
                class="form-control" name="deadline" aria-describedby="helpId" placeholder="Deadline" ngModel>
            </div>
        
                  <div class="col-md-6 form-group">
                          <label for="">Status</label>
                          <select class="form-control" name="status" ngModel>
                            <option value="active">Active</option>
                            <option value="completed">completed</option>
                            <option value="cancel">cancel</option>
                          </select>
                      </div>
                  <div class="col-md-12 form-group">
                      <label for="">Note</label>
                      <textarea class="form-control" name="note"  rows="3" placeholder=" Note.." ngModel></textarea>
                    </div>
          
        
                </div>
        </form>
        
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="submitAssignment(addAssignmentForm.value)" >Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <!--  EDIT ASSIGNMENT-->
  <div class="modal fade" id="editAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="editAssignmentModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModal">Edit Assignemnt</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="selectedAssignment">
          <div class="container">
            <form #assignmentUpdateForm="ngForm" (submit)="updateAssignment(selectedAssignment)">
                <div class="row">
          <div class="col-md-12 form-group">
            <label for=""></label>
            <input type="text"
              class="form-control" name="title" id="" aria-describedby="helpId" placeholder="Assignment Title" [(ngModel)]="selectedAssignment.title">
          </div>
          <div class="col-md-6 form-group">
              <label for=""></label>
              <input type="number"
                class="form-control" name="num" id="" aria-describedby="helpId" placeholder="Assingment #"  [(ngModel)]="selectedAssignment.num">
            </div>
            <div class="col-md-6 form-group">
                <label for=""></label>
                <input type="text"
                  class="form-control" name="deadline" id="" aria-describedby="helpId" placeholder="Deadline"  [(ngModel)]="selectedAssignment.deadline">
              </div>
                    <div class="col-md-12 form-group">
                      <label for="">Note</label>
                      <textarea class="form-control" name="note" id="" rows="3" placeholder="Extra Note.."  [(ngModel)]="selectedAssignment.note"></textarea>
                    </div>
                </div>
        </form>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="updateAssignment(selectedAssignment)" >Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
<!--  DELETE ASSIGNMENT -->
<div class="modal fade" id="deleteAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="deleteAssignmentModal" aria-hidden="true">
  <div class="modal-dialog modal-sm|lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="deleteModal">Confirm Delete</h4>
      </div>
      <div class="modal-body" *ngIf="selectedAssignment">
       Are you sure you want to delete <span class="text-danger">  {{ 'Assignment #' + selectedAssignment?.num}}</span> ?       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" (click)="deleteAssignment(selectedAssignment)">Delete</button>
      </div>
    </div>
  </div>
  </div>




  <!-- :::::::::::::: QUIZES ::::::::::: -->

  <!--ADD QUIZ -->
  <div class="modal fade" id="addQuizModal" tabindex="-1" role="dialog" aria-labelledby="addQuizModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addQuizModalLabel">Add Quiz</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container">
            <form #addQuizForm="ngForm" (submit)="submitQuiz(addQuizForm.value)">
                <div class="row">
          <div class="col-md-12 form-group">
            <label for=""></label>
            <input type="text"
              class="form-control" name="title" placeholder="Quiz Title" ngModel>
          </div>
          <div class="col-md-6 form-group">
            <label for=""></label>
            <input type="number"
              class="form-control" name="num"  aria-describedby="helpId" placeholder="Quiz #" ngModel>
          </div>
          <div class="col-md-6 form-group">
              <label for="">Deadline</label>
              <input type="date"
                class="form-control" name="deadline" aria-describedby="helpId" placeholder="Deadline" ngModel>
            </div>
        
                  <div class="col-md-6 form-group">
                          <label for="">Status</label>
                          <select class="form-control" name="status" ngModel>
                            <option value="active">Active</option>
                            <option value="completed">completed</option>
                            <option value="cancel">cancel</option>
                          </select>
                      </div>
                  <div class="col-md-12 form-group">
                      <label for="">Note</label>
                      <textarea class="form-control" name="note"  rows="3" placeholder=" Note.." ngModel></textarea>
                    </div>
          
        
                </div>
        </form>
        
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="submitQuiz(addQuizForm.value)" >Save changes</button>
        </div>
      </div>
    </div>
  </div>


  <!--  EDIT QUIZ-->
  <div class="modal fade" id="editQuizModal" tabindex="-1" role="dialog" aria-labelledby="editQuiz  Modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModal">Edit Quiz</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="selectedQuiz">
          <div class="container">
            <form #assignmentUpdateForm="ngForm" (submit)="updateQuiz(selectedQuiz)">
                <div class="row">
          <div class="col-md-12 form-group">
            <label for=""></label>
            <input type="text"
              class="form-control" name="title" id="" aria-describedby="helpId" placeholder="Assignment Title" [(ngModel)]="selectedQuiz.title">
          </div>
          <div class="col-md-6 form-group">
              <label for=""></label>
              <input type="number"
                class="form-control" name="num" id="" aria-describedby="helpId" placeholder="Assingment #"  [(ngModel)]="selectedQuiz.num">
            </div>
            <div class="col-md-6 form-group">
                <label for=""></label>
                <input type="text"
                  class="form-control" name="deadline" id="" aria-describedby="helpId" placeholder="Deadline"  [(ngModel)]="selectedQuiz.deadline">
              </div>
              <div class="col-md-6 form-group">
                <label for="">Status</label>
                <select class="form-control" name="status" [(ngModel)]="selectedQuiz.status">
                  <option value="active">Active</option>
                  <option value="completed">completed</option>
                  <option value="cancel">cancel</option>
                </select>
            </div>
                    <div class="col-md-12 form-group">
                      <label for="">Note</label>
                      <textarea class="form-control" name="note" id="" rows="3" placeholder="Extra Note.."  [(ngModel)]="selectedQuiz.note"></textarea>
                    </div>
                </div>
        </form>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="updateQuiz(selectedQuiz)" >Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
<!--  DELETE QUIZ -->
<div class="modal fade" id="deleteQuizModal" tabindex="-1" role="dialog" aria-labelledby="deleteQuizModal" aria-hidden="true">
  <div class="modal-dialog modal-sm|lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="deleteModal">Confirm Delete</h4>
      </div>
      <div class="modal-body" *ngIf="selectedQuiz">
       Are you sure you want to delete <span class="text-danger">  {{ 'Quiz #' + selectedQuiz?.num}}</span> ?       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" (click)="deleteQuiz(selectedQuiz)">Delete</button>
      </div>
    </div>
  </div>
  </div>