<div class="main-panel">
    <!-- Navbar -->
    <app-header></app-header>
    <!-- End Navbar -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title">Influencer Profile</h4>
                        </div>
                        <div class="card-body" *ngIf="admin">
                                <div class="row">
                                    
                                  
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Email address</label>
                                            <input type="email" class="form-control" [(ngModel)]="influencerData.email">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Fist Name</label>
                                            <input type="text" class="form-control" [(ngModel)]="influencerData.first">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Last Name</label>
                                            <input type="text" class="form-control" [(ngModel)]="influencerData.last">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">City</label>
                                            <input type="text" class="form-control" [(ngModel)]="influencerData.city">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Country</label>
                                            <input type="text" class="form-control" [(ngModel)]="influencerData.country">
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <button class="btn btn-primary pull-right" (click)="createInfluencer()">Create Influencer</button>
                                <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                
    </div>
    </div>