

<div class="main-panel">
  <app-header></app-header>
  <div class="content">
  <div class="container-fluid">
      <div class="col-md-12">
          <div class="card">
              <div class="card-header card-header-primary">
                  <h4 class="card-title ">Classes                
                      <div class="pull-right btn btn-warning" data-toggle="modal" role="dialog" data-target="#exampleModal" data-backdrop="static" date-keyboard="false" data-focus="true" #tref><i class="fa fa-plus" aria-hidden="true"></i> ADD</div>
                  </h4>
                  <p class="card-category"> Your class schedule or taken </p>
              </div>
              <div class="card-body">
                  <div class="table-responsive">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <a class="btn btn-secondary" type="button" aria-label=""><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                      </span>
                      <input type="search" class="form-control" name="name" id="name" placeholder="Search..." aria-label="" [(ngModel)]="term">
                    </div>

                    
                      <table class="table">
                          <thead class=" text-primary">
                              <th>
                                 Title
                              </th>
                              <th>
                                Description
                             </th>
                              <th>
                                  Category
                               </th>
                              <th >
                                Start date
                               
                              </th>
                              <th >
                                  End date
                                 
                                </th>
                              

                          </thead>
                          <tbody *ngIf="deals">
                              <tr *ngFor="let x of deals" >
                                  <!-- <td>
                                    {{x?.id}}
                                  </td> -->
                                  <!-- <td>
                                    <qrcode [qrdata]="x.id"  colordark="#A23DB7" [size]="128" [level]="'M'"></qrcode>

                                  </td> -->
                                  <td>
                                   
                                    {{x.title}}
                                  </td>
                                  <td>
                                      {{x.description}}
                                  </td>
                                  <td>
                                      {{x?.category}}
                                  </td>
                                  <!-- <td>
                                    0
                                  </td> -->
                                   <td>
                                      {{x?.start}}
                                   </td>
                                   <td>
                                      {{x?.endate}}
                                   </td>
                                   <td>

                                       <span class="btn btn-sm btn-danger" (click)="selectedClass = x" data-toggle="modal" data-target="#deleteModal" > <i class="fa fa-remove" aria-hidden="true"></i></span> 
                                      <span class="btn btn-sm btn-warning" (click)="deal = x" data-toggle="modal" data-target="#editModal" > <i class="fa fa-edit" aria-hidden="true"></i></span> 
                                      <span class="btn btn-sm btn-success" (click)="details(x)"> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></span>  -->
                                    </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>



<!-- Modal DELETE -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
<div class="modal-dialog modal-sm|lg" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title" id="deleteModal">Confirm Delete</h4>
    </div>
    <div class="modal-body" *ngIf="selectedClass">
     Are you sure you want to delete <span class="text-danger"> {{selectedClass?.title}}</span> Class?       
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      <button type="button" class="btn btn-danger" (click)="deleteDeal(id)">Delete</button>
    </div>
  </div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Deal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <form >
              <div class="row">
        <div class="col-md-6 form-group">
          <label for=""></label>
          <input type="text"
            class="form-control" name="courseName" id="" aria-describedby="helpId" placeholder="Title" [(ngModel)]="dealsData.title">
        </div>
        <div class="col-md-6 form-group">
          <label for=""></label>
          <input type="text"
            class="form-control" name="courseId" id="" aria-describedby="helpId" placeholder="Description" [(ngModel)]="dealsData.description">
        </div>
        <div class="col-md-6 form-group">
            <label for=""></label>
            <input type="text"
              class="form-control" name="room" id="" aria-describedby="helpId" placeholder="Category" [(ngModel)]="dealsData.category">
          </div>
   
                  <div class="col-md-12 form-group">
                    <textarea class="form-control" name="note" id="" rows="3" placeholder="Start date" [(ngModel)]="dealsData.start"></textarea>
                  </div>
              </div>
      </form>
      
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="createdeal()" >Create deal</button>
      </div>
    </div>
  </div>
</div>







  <!-- Modal EDIT -->
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <h5 class="modal-title" id="editModal">Edit Deal</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" *ngIf="deal">
            <div class="container">
              <form #classUpdateForm="ngForm" (submit)="update()">
                  <div class="row">
            <div class="col-md-12 form-group">
              <label for=""></label>
              <input type="text"
                class="form-control" name="courseName" id="" aria-describedby="helpId" placeholder="Title" [(ngModel)]="deal.title">
            </div>
            <div class="col-md-6 form-group">
                <label for=""></label>
                <input type="text"
                  class="form-control" name="courseId" id="" aria-describedby="helpId" placeholder="Description"  [(ngModel)]="deal.description">
              </div>
              <div class="col-md-6 form-group">
                  <label for=""></label>
                  <input type="text"
                    class="form-control" name="room" id="" aria-describedby="helpId" placeholder="Category"  [(ngModel)]="deal.category">
                </div>
                      <div class="col-md-12 form-group">
                        <label for="">Note</label>
                        <textarea class="form-control" name="note" id="" rows="3" placeholder="Start Date"  [(ngModel)]="deal.start"></textarea>
                      </div>
                  </div>
          </form>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="updateDeals(deal.id, deal)" >Update</button>
          </div>
        </div>
      </div>
    </div>

















<!-- <div class="main-panel">
  <app-header></app-header>
  <div class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-8">
                  <div class="card">
                      <div class="card-header card-header-primary">
                          <h4 class="card-title">Edit Profile</h4>
                          <p class="card-category">Complete your profile</p>
                      </div>
                      <div class="card-body" *ngIf="admin">
                              
                              <div class="row">
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label class="bmd-label-floating">Title</label>
                                          <input type="text" class="form-control" [(ngModel)]="dealsData.title">
                                      </div>
                                  </div>
                                  <div class="col-md-6">
                                      <div class="form-group">
                                          <label class="bmd-label-floating">Description</label>
                                          <input type="text" class="form-control" [(ngModel)]="dealsData.description">
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-12">
                                      <div class="form-group">
                                          <label class="bmd-label-floating">Link</label>
                                          <input type="text" class="form-control" [(ngModel)]="dealsData.link">
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label class="bmd-label-floating">Category</label>
                                          <input type="text" class="form-control" [(ngModel)]="dealsData.category">
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label class="bmd-label-floating">Start date</label>
                                          <input type="text" class="form-control" [(ngModel)]="dealsData.start">
                                      </div>
                                  </div>
                                  <div class="col-md-4">
                                      <div class="form-group">
                                          <label class="bmd-label-floating">End date</label>
                                          <input type="text" class="form-control" [(ngModel)]="dealsData.enddate">
                                      </div>
                                  </div>
                              </div>
                              
                              <button class="btn btn-primary pull-right" (click)="createdeal()">Create Deal</button>
                              <div class="clearfix"></div>
                      </div>
                  </div>
              </div>
                          
                     
          </div>
      </div>
  </div>
  </div> -->